<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a94e9ac94f.js" crossorigin="anonymous"></script>
    <title>Hesabatlar</title>
    <link rel="stylesheet" href="../static/CSS/style.css">

</head>

<body style="background-color: rgb(240, 240, 240);">

    <div class="container  cont bg-white">

        <div class="col mb-3">
            <h2>Plastik kartlar</h2>
        </div>


        <div class="row" style="justify-content: space-evenly;">
            <div class="">
                <ul class="col-3 d-flex px-3 py-0  align-items-center" style="list-style-type: none;">
                    <a class="text-dark text-decoration-none" href="#">
                        <li class="clickbutton sameclass"
                            style="border-bottom-left-radius: 40%; border-top-left-radius: 40%; margin-right: 2px; padding-left: 10px;padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                            Kredit</li>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <li class="clickbutton sameclass"
                            style=" margin-right: 2px; padding-left: 10px;padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                            Debit</li>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <li class="clickbutton sameclass"
                            style=" margin-right: 2px; padding-left: 10px;padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                            Taksit</li>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <li class="clickbutton sameclass"
                            style="border-bottom-right-radius: 40%; border-top-right-radius: 40%;  padding-left: 10px;padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                            Köçürmələr</li>
                    </a>
                </ul>
            </div>

            <div>
                <ul class="pl-0 d-flex  align-items-center" style="list-style-type: none;">
                    <a href="#" class="text-dark text-decoration-none d-flex">
                        <img src="https://www.bankrespublika.az/site/views/site/images/icons/mastercard.svg"
                            width="20px" alt="">
                        <li class="clickbutton sameclass"
                            style="border-bottom-left-radius: 40%; border-top-left-radius: 40%; margin-right: 2px; padding-top: 10px; padding-bottom: 10px;">
                            <p class="d-inline">Mastercard</p>
                        </li>
                    </a>
                    <a href="#" class="text-dark text-decoration-none d-flex">
                        <img src="https://www.bankrespublika.az/site/views/site/images/icons/visa.svg" width="20px"
                            alt="">
                        <li class="clickbutton sameclass"
                            style="border-bottom-right-radius: 40%; border-top-right-radius: 40%;  padding-top: 10px; padding-bottom: 10px;">
                            <p class="d-inline ">Visa</p>
                        </li>
                    </a>
                </ul>
            </div>
            <div>
                <ul class="col-3 d-flex px-3 py-0 align-items-center" style="list-style-type: none;">
                    <a class="text-dark text-decoration-none" href="#">
                        <li class="clickbutton sameclass"
                            style="border-bottom-left-radius: 40%; border-top-left-radius: 40%; margin-right: 2px; padding-left: 10px;padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                            Classic</li>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <li class="clickbutton sameclass"
                            style=" margin-right: 2px; padding-left: 10px;padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                            Gold</li>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <li class="clickbutton sameclass"
                            style="border-bottom-right-radius: 40%; border-top-right-radius: 40%;  padding-left: 10px;padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                            Premium</li>
                    </a>
                </ul>
            </div>

            <div>
                <ul class="col-3 d-flex px-3 py-0 align-items-center" style="list-style-type: none;">
                    <a class="text-dark text-decoration-none" href="#">
                        <li class="clickbutton sameclass"
                            style="border-bottom-left-radius: 40%; border-top-left-radius: 40%; margin-right: 2px; padding-left: 10px;padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                            ₼</li>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <li class="clickbutton sameclass"
                            style=" margin-right: 2px; padding-left: 10px;padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                            $</li>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <li class="clickbutton sameclass"
                            style="border-bottom-right-radius: 40%; border-top-right-radius: 40%;  padding-left: 10px;padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                            €</li>
                    </a>
                </ul>
            </div>
        </div>
        <div>
            <ul class="col-3 d-flex px-3 py-0 align-items-center" style="list-style-type: none;">
                <a class="text-dark text-decoration-none" href="http://127.0.0.1:5000/kartlar/compare">
                    <li  class="bg-white muqaiseclick"
                        style="border-radius: 40%; margin-right: 2px; padding-left: 10px; padding-right:120px; padding: 10px;">
                        Müqayisə</li>
                </a>
            </ul>
        </div>
    </div>
    <br>


    <div class="container cont" id="kredit-div">

        {% for i in kart %}


        <div class="d-flex plasticCard {{ i.category }} {{ i.cardtype }}  {{ i.visamaster }} {{ i.valuta_id[0] }} {{ i.valuta_id[1] }}  {{ i.valuta_id[2] }} bg-white mt-5 mb-5 pl-3 pr-3 pt-4 pb-4"
            style="border-radius: 15px;">
            <div class="mr-5 ">
                <div class="plasticCardImage mb-3">

                    <img src="{{ i.image }}" id="soldiv" alt="">
                </div>
                {% if i.is_button1 %}
                <div>
                    <button type="button" class="btn btn-primary rounded-pill mb-3 button1" style="width: 100%;">
                        Sifariş et
                    </button>
                </div>
                {% endif %}
                {% if i.is_button2 %}
                <div>
                    <button type="button" class="btn btn-light  rounded-pill mb-3 button2" style="width: 100%;">
                        Ətraflı
                    </button>
                </div>
                {% endif %}

            </div>
            <div id="sagdiv" class="">
                <div>
                    <a href="#" class="title h3 text-decoration-none text-dark">{{ i.title }}</a>
                    <i class="fas fa-wifi text-primary" style="font-size: 20px; transform:rotate(90deg);"></i>
                    <input type="checkbox" style="position:absolute; right: 0;">
                </div>
                <div class="mt-4">
                    <p>
                        {{ i.description }}
                    </p>
                </div>



                <div class="row mt-4">
                    
                    {% for i in i.feature_id %}
                    
                    <div class="col-md-3 text-primary">
                        <h5>{{ i.title }}</h5>
                        <p class="text-muted">{{ i.feature }}</p>
                    </div>
                   
                   {% endfor %}
                    
                </div>
              
            </div>
        </div>
        {% endfor %}
    </div>

<!-- ********************** -->






    <script src="../static/JS/main.js"></script>
    <!-- <script src=" url_for('static', filename='../static/JS/main.js.') "></script> -->
</body>

</html>