<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a94e9ac94f.js" crossorigin="anonymous"></script>
    <title>rehberlik</title>
    <style>

    </style>
</head>
<span>
</span>

<body>
    <div class="container">
        <h2>Rəhbərlik</h2>
        <div class="container  mt-5 mb-3 p-3">
            <span>
                <h3 class="text-center">Müşahidə Şurası</h3>
            </span>
            <div class="row pb-3 bg-light" style="border-bottom: 1px solid rgb(212, 212, 212);">
                <div class="col">
                    <a href="#">
                        <img src="https://www.bankrespublika.az/uploads/Screens/Shakir.png" width="190px" alt="">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img src="https://www.bankrespublika.az/uploads/Screens/nonman.png" width="190px" alt="">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img src="https://www.bankrespublika.az/uploads/Screens/nonman.png" width="190px" alt="">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img src="https://www.bankrespublika.az/uploads/Screens/nonwoman.png" width="190px" alt="">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img src="https://www.bankrespublika.az/uploads/Screens/nonman.png" width="190px" alt="">
                    </a>
                </div>
            </div>

            <div class="row pb-3 pt-3" style="border-bottom: 1px solid rgb(212, 212, 212);">
                <div class="col">
                    <h5>Şakir Rəhimov</h5>
                    <p class="text-muted">Müşahidə Şurasının sədri</p>
                </div>

                <div class="col">
                    <h5>Natiq Quliyev</h5>
                    <p class="text-muted">Müşahidə Şurasının sədri</p>
                </div>
                <div class="col">
                    <h5>Elçin Quliyev</h5>
                    <p class="text-muted">Müşahidə Şurasının sədri</p>
                </div>
                <div class="col">
                    <h5>İrina Şmidt</h5>
                    <p class="text-muted">Müşahidə Şurasının sədri</p>
                </div>
                <div class="col">
                    <h5>Steffan Karsten</h5>
                    <p class="text-muted">Müşahidə Şurasının sədri</p>
                </div>
            </div>

            <div class="row pb-3 pt-3 bg-light" style="border-bottom: 1px solid rgb(212, 212, 212);">
                <div class="col">
                    <p>2001-ci ildə Azərbaycan Dövlət İqtisad Universitetini "Maliyyə və kredit" ixtisası üzrə bitirib.</p>
                    <p>2016-ci ildə MBA dərəcəsini İngiltərənin Warwick Biznes Məktəbində əldə edib.</p>
                    <p>2019-cu ildən Bank Respublika-nın İdarə Heyətinin sədridir.</p>
                </div>
                <div class="col">
                    <p>1992-ci ildə Azərbaycan Texnologiya İnstitutunu bitirib.</p>
                    <p>2009 -2015 cu illərdə Bankın İdarə Heyətinin üzvü olub</p>
                    <p>2015-ci ildən Bankın İdarə Heyəti sədrinin müavinidir.</p>
                    <p>2016-cı ildə İsveçrənin Menecmentin İnkişafı İnstitutunu (IMD) Executive MBA proqramı üzrə bitirib. </p>
                </div>
                <div class="col">
                    <p>1995-ci ildə Azərbaycan Dövlət Texniki universitetini "Elektron hesablama sistemlərinin texnologiyası" ixtisası üzrə bitirib.</p>
                    <p>1996-cı ildən Bankın İdarə Heyəti sədrinin müavinidir.</p>
                    <p>2006-ci ildə MBA dərəcəsini İngiltərənin Warwick Biznes Məktəbində əldə edib.</p>
                </div>
               
            </div>

        </div>
        <div class="container">
            <div class="row" >
                <div class="col-2"></div>
                <div class="col-8">
                    <span><h3 class="text-center">İdarə Heyəti</h3></span>
                    <div class="row pb-3" style="border-bottom: 1px solid rgb(212, 212, 212);">
                        <div class="col-4">
                            <img src="images/Tariel.png" width="150px" alt="">
                        </div>
                        <div class="col-4">
                            <img src="images/Elnur.png" width="150px" alt="">
                        </div>
                        <div class="col-4">
                            <img src="images/Aslan.png" width="150px" alt="">
                        </div>
                    </div>
                    <div class="row pt-3" style="border-bottom: 1px solid rgb(212, 212, 212);">
                        <div class="col-4">
                            <h5>Tariyel İsmayılov</h5>
                            <p class="text-muted">İdarə Heyətinin sədri</p>
                        </div>
                        <div class="col-4">
                            <h5>Elnur Həsənov</h5>
                            <p class="text-muted">İdarə Heyəti sədrinin müavini</p>
                        </div>
                        <div class="col-4">
                            <h5>Aslan Abasov</h5>
                            <p class="text-muted">İdarə Heyəti sədrinin müavini</p>
                        </div>
                    </div>

                    <div class="row pt-3" style="border-bottom: 1px solid rgb(212, 212, 212);">
                        <div class="col-4">
                            <p>2003-cü ildə Milli Aviasiya Akademiyasını bitirib</p>
                            <p>2007-ci ildə Azərbaycan Texnologiya Universitetini "İnzibati İdarəetmə" ixtisası üzrə bitirib</p>
                            <p>2019-cu ildən Bank Respublika-nın İdarə Heyətinin sədridir.</p>
                        </div>
                        <div class="col-4">
                            <p>1992-ci ildə Azərbaycan Texnologiya İnstitutunu bitirib.</p>
                            <p>2009 -2015 cu illərdə Bankın İdarə Heyətinin üzvü olub</p>
                            <p>2015-ci ildən Bankın İdarə Heyəti sədrinin müavinidir.</p>
                            <p>2016-cı ildə İsveçrənin Menecmentin İnkişafı İnstitutunu (IMD) Executive MBA proqramı üzrə bitirib. </p>
                        </div>
                        <div class="col-4">
                            <p>1995-ci ildə Azərbaycan Dövlət Texniki universitetini "Elektron hesablama sistemlərinin texnologiyası" ixtisası üzrə bitirib.</p>
                            <p>1996-cı ildən Bankın İdarə Heyəti sədrinin müavinidir.</p>
                            <p>2006-ci ildə MBA dərəcəsini İngiltərənin Warwick Biznes Məktəbində əldə edib.</p>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</body>

</html>