<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a94e9ac94f.js" crossorigin="anonymous"></script>
    <title>Umumi melumat</title>
</head>

<body>


    <div
        style="background:url('https://www.bankrespublika.az/uploads/Screens/DESA.png') no-repeat center;background-size: cover; height: 300px;">
        <div class="container">
            <div class="row">
                <div class="col-5 text-light">
                    <h3>Haqqımızda</h3>
                    <p>
                        Bank Respublika öz fəaliyyətini 22 may 1992-ci il tarixində Azərbaycan Respublikasının Mərkəzi
                        Bankın lisenziyası əsasında fəaliyyətə başlayıb və bu illər ərzində Azərbaycanın mühüm
                        banklarından birinə çevirilib.
                    </p>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-4 rounded-circle" style="border: 2px solid #fff; height: 13rem; display: flex; justify-content: center; align-items: center;">
                            <i class="fas fa-tree-palm">tree</i>
                        </div>
                        <div class="col-4 rounded-circle" style="border: 2px solid #fff; height: 13rem; display: flex; justify-content: center; align-items: center;">
                            <i class="fas fa-hand-heart">heart</i>
                        </div>
                        <div class="col-4  rounded-circle"
                            style="border: 2px solid #fff; height: 13rem; display: flex; justify-content: center; align-items: center;">
                            <span>Ofis24</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div>
            <h3 class="text-center mt-5 mb-3 font-weight-bold">Bankın missiyası və strateji baxışı</h3>
        </div>
        <div>
            <h5 class="font-weight-bold mb-4">Bankın missiyası:</h5>
        </div>
        <div>
            <ul class="li text-underline">Biz Azərbaycan bank sektorunun mühüm iştirakçısıyiq və ölkənin maliyyə
                sabitliyinin dəstəklənilməsini prioritet hesab edirik.</ul>
            <ul class="li text-underline">Biz Azərbaycan vətəndaşlarına onların maliyyə imkanlarını reallaşdırmaqda
                köməklik göstəririk.</ul>
            <ul class="li text-underline">Biz Azərbaycan şirkətlərinə cəmiyyətimiz üçün dəyərli olmaq istiqamətində
                yardım edirik.</ul>
            <ul class="li text-underline">Müştəri və əməkdaşlarımız Bankın ən dəyərli kapitalıdır.</ul>
        </div>

        <div>
            <h5 class="font-weight-bold mb-4">Bankın strateji hədəfləri:</h5>
        </div>
        <div>
            <p>“Bank Respublika” ASC-nın növbəti 3 il üçün əsas strateji hədəfləri Kiçik və Orta biznes həmçinin, Mikro
                kreditləşmə sahələrində lider bank olaraq, riteyl bankçılıq sahəsində ilk 5 bank sırasında öz mövqeyini
                qoruyub saxlamaqdır.</p>
        </div>

        <div>
            <h3 class="text-center mt-5 mb-3 font-weight-bold">
                Alman səhmdarlarımız
            </h3>
        </div>
        <div>
            <p>
                Bankın səhmdarları sırasında Almaniyanın 2 nəhəng maliyyə təşkilatı təmsil olunur – KfW bank qrupunun
                üzvü DEG İnvestisiya Şirkəti və Sparkassen-Finanzgruppe maliyyə qrupunun üzvü Sparkassen International
                Development Trust. Bu 2 maliyyə təşkilatı 28 aprel 2005-ci il tarixdən etibarən Bankın səhmdar
                kapitalının “20,7%” paketinə sahibdirlər. (AZ1002002884 Nominal dəyəri: 2.45 AZN yerləşdirilmiş
                səhmlərin sayı: 29 984 118)
            </p>
        </div>
        <div class="text-center">
            <img src="https://www.bankrespublika.az/uploads/about/other%20logos/Demo%20DEG%20logo.PNG"
                style=" height: 75px;" alt="">
            <img src="https://www.bankrespublika.az/uploads/about/other%20logos/Demo%20Finanzgrouppe%20logo.PNG"
                style=" height: 75px;" alt="">
        </div>

        <div class="mt-3 mb-3 text-center ">
            <h3 class="font-weight-bold">Hazırda Bank Respublika müştərilərə müxtəlif növ bank xidmətləri göstərir</h3>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="border border-primary p-3">
                    <i class="fas fa-hot-tub text-primary" style="font-size: 4rem;"></i>
                </div>
                <span>Hesablaşma-Kassa xidməti</span>
            </div>
            <div class="col text-center">
                <div class="border border-primary p-3">
                    <i class="fas fa-hot-tub text-primary" style="font-size: 4rem;"></i>
                </div>
                <span>Kreditlər</span>
            </div>
            <div class="col text-center">
                <div class="border border-primary p-3">
                    <i class="fas fa-hot-tub text-primary" style="font-size: 4rem;"></i>
                </div>
                <span>Əmanətlər</span>
            </div>
            <div class="col text-center">
                <div class="border border-primary p-3">
                    <i class="fas fa-hot-tub text-primary" style="font-size: 4rem;"></i>
                </div>
                <span>Plastik Kartlar</span>
            </div>
            <div class="col text-center">
                <div class="border border-primary p-3">
                    <i class="fas fa-hot-tub text-primary" style="font-size: 4rem;"></i>
                </div>
                <span>Pul Köçürmələri</span>
            </div>
            <div class="col text-center">
                <div class="border border-primary p-3">
                    <i class="fas fa-hot-tub text-primary" style="font-size: 4rem;"></i>
                </div>
                <span>Rəqəmsal Bankçılıq</span>
            </div>
            <div class="col text-center">
                <div class="border border-primary p-3">
                    <i class="fas fa-hot-tub text-primary" style="font-size: 4rem;"></i>
                </div>  circle
                <span>Bank Seyfləri</span>
            </div>
        </div>



        <div>
            <h3 class="font-weight-bold mt-5 mb-3">Bankın əsas vəzifələri</h3>
            <span>Bank Respublika müştərilərlə əlaqələrini onlara maksimal dərəcədə faydalı olmaq prinsipi əsasında
                qurur. Bu həm Bankın sloqanında – “Sizə faydalı”, həm də fəaliyyətində və konkret xidmətlərində öz
                əksini tapır. Bankın mühüm məqsədlərindən biri müştəri xidməti keyfiyyətinin daimi olaraq artırmaq,
                göstərilən xidmətləri genişləndirmək və şərtlərini yaxşılaşdırmaqdır.</span>
        </div>
        <div>
            <h3 class="font-weight-bold mt-5 mb-3">Bankın müştəriləri</h3>
            <span>Bankın müştəriləri sırasında sənaye, telekommunikasiya, nəqliyyat, tikinti, kənd təsərrüfatı, ticarət
                və xidmət sahəsində fəaliyyət göstərən çoxlu şirkətlər və təşkilatlar mövcuddur. Bankın xidmətlərindən
                eləcə də on minlərlə fərdi müştərilər istifadə edir.
                Bank Respublika müxtəlif beynəlxalq və xarici maliyyə təşkilatları ilə sıx əməkdaşlıq edir və bu
                əməkdaşlığın əsas istiqamətlərindən biri də sahibkarlığın kreditləşdirilməsi və ticarətin
                maliyyələşdirilməsi üzrə müxtəlif proqramların həyata keçirilməsidir. Ümumilikdə bu proqramlar üzrə Bank
                Respublika üçün 200 mln. ABŞ dollarından çox məbləğdə kredit xətləri ayrılmışdır və bu daha sərfəli
                şərtlərlə uzunmüddətli biznes kreditləri vermək və ticarətin maliyyələşdirilməsi üzrə xidmətləri
                göstərmək üçün Bankın imkanlarını genişləndirmişdir.</span>
        </div>
        <div>
            <h2 class="mt-3 mb-3 text-center">
                Bank Respublika aşağıdakı təşkilatların üzvüdür
            </h2>
        </div>
        <div class="row">
            <div class="col-3 text-center">
                <img src="https://www.bankrespublika.az/uploads/Elave/4.png" width="150pxz" alt="">
                <span class="d-block">Əmanətlərin Sığortalanması fondunun</span>
            </div>
            <div class="col-3">
                <img src="https://www.bankrespublika.az/uploads/Elave/3.png" width="130px" alt="">
                <span class="d-block">Azərbaycan Banklar Assosiasiyasının Prezidiumu</span>
            </div>
            <div class="col-3">
                <img src="https://www.bankrespublika.az/uploads/Elave/1.png" width="130px" alt="">
                <span class="d-block">Azərbaycan Sahibkarların Milli Konfederasiyası</span>
            </div>
            <div class="col-3">
                <img src="https://www.bankrespublika.az/uploads/Elave/amcham_logo_140613.jpg" width="160px" alt="">
                <span class="d-block">ABŞ-ın Azərbaycandakı Ticari Palatası (AMCHAM)</span>
            </div>
        </div>
    </div>







    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>